<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вывод пациентов</title>
</head>
<body>
    {% include "include/bread_crumbs.html"%}
        <div class="col-lg-6">  
        <h1>На сегодняшний день находиться на стационарном лечении: </h1>
        {% for clinic in dictionary %}
        <h3>Список пациентов {{ clinic }}</h3>
        <h4>Состоит {{ dictionary[clinic]|length }} человека</h4>
        <ul>  
            {% for pacient in dictionary[clinic]%}
            <li>{{ "-" }} {{ pacient.fio }} {{ pacient.date_start.date() }}</li> 
            {% endfor %}
        </ul>  
        {% endfor %}
    </div>  

</body>
</html>