<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пациентов</title>
</head>
<body>
    {% include "include/bread_crumbs.html"%}
    <div class="col-lg-6">  
        <h1>Пациенты на стационарном лечении в клиниках по отделениям</h1>
        <h3>Список пациентов МЦ Искровская</h3>
        <h4>Состоит 3 человека</h4>
        <ul>  
            <li><input type="checkbox" id="opt1"><label for="opt1">Иванов Иван Иванович</label></li> 
            <li><input type="checkbox" id="opt1"><label for="opt1">Петров Сергей Сергеевич</label></li>
            <li><input type="checkbox" id="opt1"><label for="opt1">Ломов Антон Павлович</label></li>  
            <button type="submit" class="btn btn-md btn-block btn-danger-gradiant text-white border-0"><span>Выписать</span></button>
        </ul>  
        <h3>Список пациентов РЦ Искровская</h3>
        <h4>Состоит 3 человека</h4>
        <ul>  
            <li><input type="checkbox" id="opt1"><label for="opt1">Иванов Иван Иванович</label></li> 
            <li><input type="checkbox" id="opt1"><label for="opt1">Петров Сергей Сергеевич</label></li>
            <li><input type="checkbox" id="opt1"><label for="opt1">Ломов Антон Павлович</label></li> 
            <button type="submit" class="btn btn-md btn-block btn-danger-gradiant text-white border-0"><span>Выписать</span></button> 
        </ul> 
        <h3>Список пациентов МЦ Владимирская</h3>
        <h4>Состоит 3 человека</h4>
        <ul>  
            <li><input type="checkbox" id="opt1"><label for="opt1">Иванов Иван Иванович</label></li> 
            <li><input type="checkbox" id="opt1"><label for="opt1">Петров Сергей Сергеевич</label></li>
            <li><input type="checkbox" id="opt1"><label for="opt1">Ломов Антон Павлович</label></li>
            <button type="submit" class="btn btn-md btn-block btn-danger-gradiant text-white border-0"><span>Выписать</span></button>  
        </ul> 
        <h3>Список пациентов РЦ Некрасовская</h3>
        <h4>Состоит 3 человека</h4>
        <ul>  
            <li><input type="checkbox" id="opt1"><label for="opt1">Иванов Иван Иванович</label></li> 
            <li><input type="checkbox" id="opt1"><label for="opt1">Петров Сергей Сергеевич</label></li>
            <li><input type="checkbox" id="opt1"><label for="opt1">Ломов Антон Павлович</label></li> 
            <button type="submit" class="btn btn-md btn-block btn-danger-gradiant text-white border-0"><span>Выписать</span></button> 
        </ul> 
        <h3>Список пациентов МЦ Доверие</h3>
        <h4>Состоит 3 человека</h4>
        <ul>  
            <li><input type="checkbox" id="opt1"><label for="opt1">Иванов Иван Иванович</label></li> 
            <li><input type="checkbox" id="opt1"><label for="opt1">Петров Сергей Сергеевич</label></li>
            <li><input type="checkbox" id="opt1"><label for="opt1">Ломов Антон Павлович</label></li> 
            <button type="submit" class="btn btn-md btn-block btn-danger-gradiant text-white border-0"><span>Выписать</span></button> 
        </ul> 
    </div>  

</body>
</html>